<div class="card border-secondary mb-3 m-2" style="max-width: 18rem">
  <div class="card-header bg-transparent border-secondary">
    {{ woman.WomanName }}
  </div>
  <div class="card-body text-secondary">
    <h6 class="text-danger">Date Of Birth:</h6>
    <h6 class="card-title">{{ woman.DateOfBirth }}</h6>
    <h6 class="text-danger">Country:</h6>
    <h6 class="card-title">{{ woman.Country }}</h6>
    <h6 class="text-danger">Description:</h6>
    <p class="card-text">{{ woman.Description }}</p>
  </div>
  <div class="card-footer bg-transparent border-secondary">Footer</div>
</div>
<!-- // `women`(`ID`, `WomanName`, `DateOfBirth`, `Country`, `Description`, `UserID`); -->
