<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Women</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="usersService.isAuthenticated()">
          <a class="nav-link active">{{
            usersService._isAuthenticated ? "LogOut" : "logIn"
          }}</a>
        </li>

        <!-- <button
          class="btn btn-primary"
          *ngIf="!usersService._isAuthenticated"
          (click)="usersService.isAuthenticated()"
        >
          Login
        </button>
        <button
          class="btn btn-primary"
          *ngIf="usersService._isAuthenticated"
          (click)="usersService.isAuthenticated()"
        >
          Logout
        </button> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary m-5" routerLink="/actionForm">
        Add Action
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary m-5" routerLink="/logIn">
        See Actions
      </button>
    </div>
    <div class="col-4">
      <button class="btn btn-primary m-5" routerLink="/">Back Home</button>
    </div>
  </div>
</div>
