<div class="loginForm">
  <div class="row p-4">
    <label for="input p-2">enter account number</label>
    <input
      [(ngModel)]="bankService._accountInput"
      class="form-control p-2"
      id="input"
      placeholder="enter account number"
      [ngModelOptions]="{ standalone: true }"
    />
    <button
      class="btn btn-success m-2"
      routerLink="/actionList"
      (click)="bankService.getAllActionsById('/accounts/getActionsById')"
    >
      see actions
    </button>
  </div>
</div>
<!-- <hr />
<app-actions-list></app-actions-list> -->
